.riseape-archives .tagcloud {
  margin-bottom: 13px;
  font-size: 0;
}
.riseape-archives .categories {
  margin-bottom: 12px;
  font-size: 0;
}
.riseape-archives .tagcloud a {
  border-radius: 15px;
  padding: 6px 12px;
  font-size: 15px !important;
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 7px;
}
.riseape-archives .tagcloud a:before {
  content: "# ";
}
.riseape-archives .tagcloud a span:before {
  content: " ";
}
.riseape-archives .categories a {
  border-radius: 12px;
  padding: 12px;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  width: calc(20% - 6.4px);
}
.riseape-archives .categories a:nth-child(5n+5) {
  margin-right: 0;
}
.riseape-archives .categories a span {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .riseape-archives .categories a {
    width: calc(50% - 4px);
  }
  .riseape-archives .categories a:nth-child(2n+2) {
    margin-right: 0;
  }
  .riseape-archives .categories a:nth-child(5n+5) {
    margin-right: 8px;
  }
}
.riseape-archives .categories a span {
  margin-top: 5px;
  display: block;
}
.riseape-archives .categories a span:after {
  content: " Articles";
}
.riseape-archives article > *:first-child {
  margin-top: 0;
}
.riseape-archives article > *:last-child {
  margin-bottom: 0;
}
.riseape-archives ul {
  list-style: none;
  padding-left: 0 !important;
}
.riseape-archives li {
  position: relative;
  padding: 10px 0;
  padding-left: 25px;
}
.riseape-archives li::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #07c160;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 11px;
  margin-left: -25px;
  border-radius: 100%;
  border: 3px solid #fff;
  z-index: 100;
  position: relative;
}
.riseape-archives li::after {
  content: "";
  height: 100%;
  width: 2px;
  background: rgba(7,193,96,0.2);
  position: absolute;
  left: 6px;
  top: 20px;
}
.riseape-archives li:last-child:after {
  display: none;
}
.riseape-archives ul span {
  margin-right: 15px;
}
